/* UNIVERSAL STYLING */
*{
    font-family: 'Work Sans', sans-serif;
}

/* STYLING SECTION HEADER */
.section-header{
    background-image: url('./images/banner1.png');
    background-repeat: no-repeat;
}
.header-content{
    text-align: right;
    padding: 100px 230px 26px 0px;
}
.header-title{
    font-weight: 700;
    font-size: 55px;
}
.header-des{
    color: #444343;
    margin-bottom: 32px;
}
.btn1{
    padding: 21px 25px 20px 26px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 166px;
}

/* STYLING MAIN SECTION/ IMAGES AND DETAILS */
.my-img{
    margin-top: 125px;
    margin-left: 206px;
    margin-bottom: 130px;
}
.imganddetail-sec{
    display: flex;
}
.last-year-sum{
    margin: 364px 322px 214px 100px;
}
.sum-title{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
}
.sum-des{
    color: #444343;
    margin-bottom: 16px;

}
.tick{
    margin-right: 14px;
    color: #16D887;
    font-size: 23px;
}
.tick-detail{
margin-bottom: 8px;
color: #444343;

}

/* STYLING MAIN SECTION/PLAN */
.plan-detail-head{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 55px;
}
.plan-sec{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 130px;
}
.web-dev{
    margin-left: 230px;
}
.ecommarce{
    margin-right: 230px;
}
.plans-title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}
.plan-des{
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

/* STYLING MAIN SECTION FOR BONUS POINT/WEB DEVELOPMENT */
.web-sec-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 55px;
}
.web-sec{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 130px;
}
.javascript1{
    margin-left: 160px;
}
.react-js{
    margin-right: 160px;
}
.web-sec-head{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}
.web-sec-des{
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}
/* STYLING MAIN SECTION/ PRODUCTIVE QUOTE WITH GRADIENT IMAGE */
.watch-img{
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 80%), url('./images/watch.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    margin: 0px 370px 136px 370px;
    min-width: 1140px;
    min-height: 300px;
}
.watch-img-header{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}
.watch-btn-sec{
padding: 20px 70px;
}
.watch-btn{
    padding: 21px 36px 20px 36px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
}

/* STYLING FOOTER SECTION */
.footer{
    background: #151414;
    min-width: 1600px;
    min-height: 577px;
}
.footer-div{
    display: flex;
    justify-content: space-around;

}
.footer-head{
    color: #F8F8F8;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 45px;
    margin-top: 136px;
}

.footer-details{
    color: #FFFFFF;
    margin-bottom: 20px;
}
.form-div-head{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 123px;
    margin-bottom: 32px;
}
#mail{
    color: #F3F3F3;
    font-size: 18px;
    padding: 21px 158px 22px 21px;
    border-radius: 8px;
    background: #151414;
    border: 1px solid white;
    margin-bottom: 16px;
}
.footer-sec-btn{
    font-weight: 600;
    font-size: 20px;
    padding: 20px 36px 20px 36px;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 8px;
}


